body{
    font-family: 'Poppins', sans-serif;
}




/*Styles for Navbar and Banner */


.heading{
    background-color:#F0FFF0;
}
.container{
    margin-bottom: 50px;
}
.navbar img{
    width:198px;
}

.collapse-part{
    margin-left: auto;
}
.collapse-part a{
    color: black !important;
    
}

.button-all{
    background-color:#21B573;
    border-radius: 30px;
    color: white;
    border: none;
    padding: 12px 30px;
}

.banner{
    padding-bottom: 40px;
}

.text-area{
    padding-top: 40px;
    padding-right: 50px;
}


#banner-pera1{
    color: #FD511A;
    margin-bottom: 35px;

}
#banner-pera2{
    color:#6C6B6B;
    margin-bottom: 40px;
    margin-top: 35px;
}
.text-color{
    color:#21B573 ;
}

.banner-img{
    padding-top: 40px;
     max-width: 100%;
     max-height: 100%;
     margin-bottom: 15px;
}




/* Styles for books */

.all-books{
    width: 270px;
    height:270px;
    background-color:#F0FFF0;
    border-radius: 15px;
    margin:20px;
}

.books div img{
    max-width: 45%;
    max-height: 45%;
    padding-bottom: 30px;
}

.all-books:hover {
    background-color: white;
    box-shadow: 2px 2px 30px grey;
    transform: scale(1.1);
    transition: transform .5s;
}




