body{
    font-family: 'Poppins', sans-serif;
}
.heading{
    background-color:#F0FFF0;
}
.container{
    margin-bottom: 70px;
}
.navbar img{
    width:198px;
}

.collapse-part{
    margin-left: auto;
}
.collapse-part a{
    color: black !important;
    
}

.button-all{
    background-color:#21B573;
    border-radius: 30px;
    color: white;
    border: none;
    padding: 12px 30px;
}

.banner{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

#banner-pera1{
    color: #FD511A;
    margin-bottom: 30px;

}
#banner-pera2{
    color:#6C6B6B;
    margin-bottom: 25px;
    margin-top: 30px;
}
.text-color{
    color:#21B573 ;
}

.banner-img{
     max-width: 95%;
     max-height: 100%;
     padding-left: 5%;
}


