body{
    font-family: 'Poppins', sans-serif;
}
.heading{
    background-color:#F0FFF0;
}
.container{
    margin-bottom: 70px;
}
.navbar img{
    width:198px;
}

.navbar-nav{
    margin-left:500px;
    position: relative;
}

.nav-link{
    color: black !important;
    margin-left: 15px;
}

.button-all{
    background-color:#21B573;
    border-radius: 30px;
    color: white;
    border: none;
    padding: 12px 30px;
}

.banner{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.text-color{
    color:#21B573 ;
}

.banner img{
     max-width: 95%;
     max-height: 100%;
     padding-left: 5%;
}

